<head>
    <title>Invetex &#8211; Corporate Template</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <meta content="telephone=no" name="format-detection">
    <link href="http://fonts.googleapis.com/css?family=Poppins:300,300italic,400,400italic,500,500italic,600,600italic,700,700italic%7CLora:300,300italic,400,400italic,500,500italic,600,600italic,700,700italic&#038;subset=latin,latin-ext&#038;" media="all" property="stylesheet" rel="stylesheet" type="text/css">
    <link href='css/fontello/css/fontello.css' media='all' property="stylesheet" rel='stylesheet' type='text/css'>
    <link href='js/vendor/instagram/sb-instagram.min.css' media='all' property="stylesheet" rel='stylesheet' type='text/css'>
    <link href='js/vendor/essgrid/ess-grid.css' media='all' property="stylesheet" rel='stylesheet' type='text/css'>
    <link href='js/vendor/revslider/rev-slider.css' media='all' property="stylesheet" rel='stylesheet' type='text/css'>
    <link href='js/vendor/woocommerce/woocommerce.css' media='all' property="stylesheet" rel='stylesheet' type='text/css'>
    <link href='css/style.css' media='all' property="stylesheet" rel='stylesheet' type='text/css'>
    <link href='css/colors.css' media='all' property="stylesheet" rel='stylesheet' type='text/css'>
    <link href='js/vendor/woocommerce/woocommerce-layout.css' media='all' property="stylesheet" rel='stylesheet' type='text/css'>
    <link href='js/vendor/woocommerce/plugin.woocommerce.css' media='all' property="stylesheet" rel='stylesheet' type='text/css'>
    <link href='css/animation.css' media='all' property="stylesheet" rel='stylesheet' type='text/css'>
    <link href='css/shortcodes.css' media='all' property="stylesheet" rel='stylesheet' type='text/css'>
    <link href='css/messages.css' media='all' property="stylesheet" rel='stylesheet' type='text/css'>
    <link href='js/vendor/magnific-popup/magnific-popup.css' media='all' property="stylesheet" rel='stylesheet' type='text/css'>
    <link href='js/vendor/swiper/swiper.css' media='all' property="stylesheet" rel='stylesheet' type='text/css'>
    <link href='css/responsive.css' media='all' property="stylesheet" rel='stylesheet' type='text/css'>
    <link href="images/favi.png" rel="icon" sizes="192x192">
</head>
