<header class="top_panel_wrap top_panel_style_3 scheme_original">
    <div class="top_panel_wrap_inner top_panel_inner_style_3 top_panel_position_over">
        <div class="top_panel_top">
            <div class="content_wrap">
                <div class="top_panel_top_contact_area icon-location-light">
                    254 Street Avenue, Los Angeles, LA 2415 US.
                </div>
                <div class="top_panel_top_open_hours icon-clock-light">
                    Mon - Fri : 09:00 - 17:00
                </div>
                <div class="top_panel_top_ophone icon-call-out">
                    8 800 256 35 87
                </div>
                <div class="top_panel_top_user_area cart_show">
                    <div class="menu_pushy_wrap">
                        <a class="menu_pushy_button icon-1460034782_menu2" href="#"></a>
                    </div>
                    <ul class="menu_user_nav" id="menu_user">
                        <li class="menu_user_register_login">
                            <a class="popup_link popup_login_link icon-key-light" href="#popup_login">Login</a> or <a class="popup_link popup_register_link" href="#popup_registration">Register</a>
                        </li>
                        <li class="menu_user_cart">
                            <a class="top_panel_cart_button sf-with-ul" href="#"><span class="contact_icon icon-bag"></span> <span class="cart_items">3</span></a>
                            <ul class="widget_area sidebar_cart sidebar fadeOut animated fast">
                                <li>
                                    <div class="widget woocommerce widget_shopping_cart">
                                        <div class="hide_cart_widget_if_empty">
                                            <div class="widget_shopping_cart_content">
                                                <ul class="cart_list product_list_widget">
                                                    <li class="mini_cart_item">
                                                        <a class="remove" href="#">×</a> <a href="single-product.html"><img alt="" src="images/180x180.jpg"> Finance Equations &amp; Answers Jamie C. Martin&nbsp;</a> <span class="quantity">1 ×<span class="amount"><span>$</span>69.99</span></span>
                                                    </li>
                                                    <li class="mini_cart_item">
                                                        <a class="remove" href="#">×</a> <a href="single-product.html"><img alt="" src="images/180x180.jpg"> The Richest Man in Babylon Elin Hinderbrand&nbsp;</a> <span class="quantity">1 × <span class="amount"><span>$</span>71.99</span></span>
                                                    </li>
                                                    <li class="mini_cart_item">
                                                        <a class="remove" href="#">×</a> <a href="single-product.html"><img alt="" src="images/180x180.jpg"> Financial Strategy Karen Berman&nbsp;</a> <span class="quantity">1 × <span class="amount"><span>$</span>69.99</span></span>
                                                    </li>
                                                </ul>
                                                <p class="total"><strong>Subtotal:</strong> <span class="amount"><span>$</span>211.97</span></p>
                                                <p class="buttons"><a class="button" href="cart.html">View Cart</a> <a class="button" href="checkout.html">Checkout</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="top_panel_middle">
            <div class="content_wrap">
                <div class="contact_logo">
                    <div class="logo">
                        <a href="index.html"><img alt="" class="logo_main" src="images/logo_dark.png"> <img alt="" class="logo_fixed" src="images/logo.png"></a>
                    </div>
                </div>
                <div class="menu_main_wrap">
                    <nav class="menu_main_nav_area menu_hover_fade">
                        <ul class="menu_main_nav" id="menu_main">
                            <li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children">
                                <a href="#"><span>Home</span></a>
                                <ul class="sub-menu">
                                    <li class="menu-item current-menu-item">
                                        <a href="index.html"><span>Home 1</span></a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="home2.html"><span>Home 2</span></a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="home3.html"><span>Home 3</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a href="#"><span>Features</span></a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="shortcodes.html"><span>Shortcodes</span></a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="typography.html"><span>Typography</span></a>
                                    </li>
                                    <li class="menu-item-has-children menu-item">
                                        <a href="#"><span>Tools</span></a>
                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="support.html"><span>Support</span></a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="customization.html"><span>Customization</span></a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="video-tutorials.html"><span>Video Tutorials</span></a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item">
                                        <a href="shop.html"><span>Shop</span></a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="appointment.html"><span>Appointment</span></a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="contacts.html"><span>Contacts</span></a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="404.html"><span>Page 404</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a href="about-us.html"><span>About Us</span></a>
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a href="#"><span>Services</span></a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="our-services.html"><span>Our Services</span></a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="single-service.html"><span>Single Service</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a href="#"><span>Blog</span></a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="all-posts.html"><span>All Posts</span></a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="blog-creative.html"><span>Blog Creative</span></a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="blog-masonry.html"><span>Blog Masonry</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a href="#"><span>Projects</span></a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="projects-grid.html"><span>Projects Grid</span></a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="projects-masonry.html"><span>Projects Masonry</span></a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="projects-cobbles.html"><span>Projects Cobbles</span></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <div class="search_wrap search_style_fullscreen search_state_closed top_panel_el top_panel_icon">
                        <div class="search_form_wrap">
                            <form action="#" class="search_form" method="get">
                                <button class="search_submit icon-search-light" type="submit"></button> <input class="search_field" name="s" placeholder="Search" type="text" value=""> <a class="search_close icon-1460034721_close"></a>
                            </form>
                        </div>
                    </div>
                    <div class="top_panel_top_socials top_panel_el">
                        <div class="sc_socials sc_socials_type_icons sc_socials_shape_square sc_socials_size_tiny">
                            <div class="sc_socials_item">
                                <a class="social_icons social_facebook" href="#" target="_blank"><span class="icon-facebook"></span></a>
                            </div>
                            <div class="sc_socials_item">
                                <a class="social_icons social_twitter" href="#" target="_blank"><span class="icon-twitter"></span></a>
                            </div>
                            <div class="sc_socials_item">
                                <a class="social_icons social_gplus" href="#" target="_blank"><span class="icon-gplus"></span></a>
                            </div>
                            <div class="sc_socials_item">
                                <a class="social_icons social_linkedin" href="#" target="_blank"><span class="icon-linkedin"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
